@import 'Variables.scss';

@font-face {
  font-family: 'VNF-Oswald';
  src: url('../res/VNF-Oswald Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.web-text {
	font-family: $font-stack;
	color: $font-color;
}

h1 {
	@extend .web-text;
	font-family: "VNF-Oswald", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
	@extend .web-text;
	color: rgba(0, 0, 0, 0.50);
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 28px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.50);
}

h3 {
	@extend .web-text;
}

h4 {
	@extend .web-text;
}

h5 {
	@extend .web-text;
}

h6 {
	@extend .web-text;
}

p {
	@extend .web-text;
}

span {
	@extend .web-text;
}

a {
	@extend .web-text;
	color: $primary-color;
	
	&:hover {
		color: $highlight-color;
		cursor: pointer;
	}
}