.log-in-box {
	margin: 24px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
	border-radius: 4px;
	min-width: 360px;
	min-height: 448px;
	padding: 12px 20px;
	background: white;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#log-in-header {
	margin: 24px 0px;
	font-family: "Oswald";
	font-weight: bold;
	font-size: 32px;
}

.about {
	bottom: 0px;
	height: 64px;
	width: 100%;
}

.log-in-background {
	background: url('../../res/low-poly-texture-9.png');
	background-size: cover;
	background-position: center;
}

#reset-password {
	align-self: flex-end;
	margin-top: -8px;
	margin-bottom: 24px;
}

.decoration-container {
	display: flex;
	flex-direction: row;
	align-self: stretch;
	align-items: center;
}

.decoration {
	height: 1px;
	background: rgba(0, 0, 0, 0.50);
	display: flex;
	flex: 1;
	margin: 12px;
}

#copyright {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
	margin: 0px;
	margin-top: 12px;
}